@import "tailwindcss";
@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-15px); }
  100% { transform: translateY(0px); }
}

.animate-float {
  animation: float 4s ease-in-out infinite;
}

@keyframes gradientMove {
  0% { filter: hue-rotate(0deg); }
  50% { filter: hue-rotate(40deg); }
  100% { filter: hue-rotate(0deg); }
}

.animate-gradient {
  animation: gradientMove 10s infinite linear;
}
